{% extends 'base.html' %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Detail</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'app_home' %}">Home</a></li>
                <li class="breadcrumb-item active">Detail</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
            
            {% if capsule %}
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Détail d'une capsule</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  
                    <div class="row" style="justify-content: center;">
                        <div class="col-sm-6">
                            <div class="position-relative p-2 bg-gray" >
                            <div class="ribbon-wrapper ribbon-xl">
                                <div class="ribbon bg-warning text-lg">
                                    {{ capsule_serial }}
                                </div>
                            </div>
                            
                            <p>ID Capsule : <b>{{ capsule.capsule_id }}</b></p>
                            <p>Status : <b>{{ capsule.status }}</b></p>

                            {% if capsule.original_launch %}
                            <p>Date de lancement : <b>{{ capsule.original_launch }}</b></p>
                            {% endif %}

                            {% if capsule.original_launch_unix %}
                            <p>Date d'initiation : <b>{{ capsule.original_launch_unix }}</b></p>
                            {% endif %}
                            
                            <p>Nombre d'Atterrissages : <b>{{ capsule.landings }}</b></p>
                            <p>Type : <b>{{ capsule.type }}</b></p>
                            <p>Nombre de réutilisations : <b>{{ capsule.reuse_count }}</b></p>

                            {% if capsule.details %}
                            <p>Details : <b>{{ capsule.details }}</b></p>
                            {% endif %}

                            {% if missions %}
                                <p><b>Mission{% if missions|length > 1 %}s{% endif %} : </b></p>
                                <blockquote class="bg-gray">
                                    <ol>
                                    {% for elt in missions %}
                                        <li><span style="margin-left: 5px;">
                                            <span>Nom : <b>{{ elt.name }}</b> ; </span>
                                            <span style="margin-left: 5px;">Nombre de voyage en avion : <b>{{ elt.flight }}</b></span>
                                        </span>
                                        </li>
                                    {% endfor %}
                                    </ol>
                                </blockquote>
                            {% endif %}
                            
                            
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            {% else %}
              <div>
                <div class="alert alert-warning"> Aucune capsule n'a la série : {{ capsule_serial }} </div>
              </div>
            {% endif %}

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->

{% endblock body %}